html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;

    word-wrap: break-word;
}

ul {
    list-style: none;
}

p {
    margin: 0;

    color: black;
    font-size: 13px;
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans-serif;
}

.title {
    font-size: 13px;
    font-weight: bold;
    font-family: helvetica, arial, verdana, sans-serif;

    /* line-height: 16px;
    text-transform: none; */
}

.container {
    background-color: #3892D3;
    height: 100%;
}

.north {
    background-color: #3892D3;
    height: 32px;
}

.north>p {
    padding: 5px 0px 0px 5px;
    margin: 0;
}

.main {
    height: calc(100% - 76px);
    margin-left: 5px;
    margin-right: 5px;
    /* transition: transform .5s ease; */
    position: relative;
}

/* 인터렉션 */
.west, .east, .south{
    transition: all 0.1s;
}

.main.slide-left {

}

.main.slide-left .west {
    transform: translate(-120%, 0);
}

.main.slide-left .center {
    transition: all 0.3s;
    left: 50px;
}

.main.slide-right .east {
    transform: translate(110%, 0);
}

.main.slide-right .center {
    transition: all 0.1s;
    right: 50px;
}

.main.slide-up {
    transition: all 0.5s;
    height: calc(100% - 135px);
}



/* //인터렉션 */


/*west*/
.main .west {
    left:0;
    bottom: 0;
    width: 208px;
    height: 100%;
    position: absolute;
}

.main .west .panel {
    float: left;
    height: 100%;
    width: 200px;
}

.main .west .panel .header {
    height: 36px;
    background-color: #157fcc;
}

.main .west .panel .header img.slide-btn {
    background-image: url(images/tool-sprites.png);
    opacity: 0.5;
    background-color: #157fcc;
    background-position: 0 -192px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 139px;
}

.main .west .panel .header img.slide-btn:hover {
    opacity: 0.6;
}

.main .west .panel .header .title {
    position: relative;
    /*for title top margin*/
    top: 7px;
    left: 10px;
    height: 16px;
    color: white;
    line-height: 15px;
    text-transform: none;
}

.main .west .panel .content {
    height: calc(100% - 47px);
    background-color: white;
    padding: 5px 5px 0px 5px;
}

.west .panel .content .header{
    width: 188px;
    height: 32px;
    background-color: #dfeaf2;
}

.west .panel .content .header:hover {
    background-color: #E6F1F9;
}

.west .panel .content .header {
    padding: 8px 10px 8px 10px;
    box-sizing: border-box;
}

.west .panel .content .header .title {
    position: relative;
    top: -3px;
    color: #666666;
    text-transform: none;
    left: 2px;
}

.west .panel .content .content-item {
    position: relative;
}

.west .area{
    display: none;
}


.west .content-item.expand{
    height: calc(100% - 86px);
    background-position: 0 -192px;
}

.west .content-item.expand .area{
    display: block;
}

.west .panel .content .content-item:not(:first-child) {
    margin-top: 5px;
}

/* .main .west .panel .content .body {
    background-color: blue
} */

.main .west .panel .content img {
    width: 16px;
    margin: 0;
    overflow: hidden;
    border: 0;
}

.main .west .panel .content img.tool {
    position: relative;
    top: 0px;
}

.west img.expand-btn {
    position: relative;
    top: 0px;

    cursor: pointer;
    opacity: 0.5;
    background-color: #dfeaf2;
    background-position: 16px 128px;
}

.west img.expand-btn.change-expand {
    background-position: 0 -272px;
}

.main .west .panel .content img.expand-btn:hover {
    opacity: 0.6;
}

.main .west .panel .content .navigation img.expand-btn {
    left: 63px;
}

.main .west .panel .content .settings img.expand-btn {
    left: 78px;
}

.main .west .panel .content .information  img.expand-btn {
    left: 58px;
}


.main .west .panel .content img.expand-btn {
    background-image: url(images/tool-sprites-dark.png);
}

.main .west .panel .content .navigation .tool {
    background-image: url(images/folder_go.png);
}

.main .west .panel .content .settings .tool {
    background-image: url(images/folder_wrench.png);
}

.main .west .panel .content .information .tool {
    background-image: url(images/information.png);
}

.main .west .splitter {
    float: left;
    margin: 0;
    width: 8PX;
    height: 100%;
}

/*center*/
.main .center {
    background-color: #3892D3;
    /* width: calc(100% - 208px - 233px); */
    left: 208px;
    right: 241px;
    position: absolute;
    height: 100%;
}

.main .center .tabs {
    height: 31px;
    background-color: #157fcc;
    border-bottom: 5px solid #B4D1EA;
}

.main .center .tabs .tab {
    background-color: #4b9cd7;
    color: white;
}

.main .center .tabs .tab:hover {
    background-color: #5FA7DB;
}

.main .center .tabs .tab.active {
    background-color: #ADD2ED;
    color: #157fcc;
}

.main .center .tabs .first {
    cursor: pointer;
    width: 96.078px;
    height: 31px;
    margin-right: 2px;
    float: left;
    border-radius: 3px 3px 0px 0px;
}

.main .center .tabs .first .title {
    position: relative;
    top: 6px;
    left: 12px;
}

.main .center .tabs .first .close {
    top: -17px;
    left: 82px;
    display: block;
    position: relative;
    font-size: 0;
    line-height: 0;

    width: 12px;
    height: 12px;
    background-image: url(./images/tab-default-close.png);
}

.main .center .tabs .second {
    cursor: pointer;
    float: left;
    width: 102.484px;
    height: 31px;
    border-radius: 3px 3px 0px 0px;
}

.main .center .tabs .second .title {
    padding: 8px 0px 0px 12px;
}

.main .center .content {
    height: calc(100% - 42px);
    background-color: white;
    overflow-y: scroll;
    padding: 5px;
    box-sizing: border-box;

    color: black;
    font-size: 13px;
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans-serif;
}

.main .center .content p:not(:first-child) {
    margin-top: 5px;
}

/*east*/
.main .east {
    width: 233px;
    height: 100%;
    position: absolute;
    right: 0;
    /* transition: transform .5s ease; */
}

.main .east .panel {
    height: calc(100% - 42px);
}

.main .east .panel .header {
    height: 36px;
    background-color: #157fcc;
}

.main .east .panel .header .title {
    position: relative;
    top: 7px;
    left: 10px;

    height: 16px;
    color: white;
    line-height: 15px;
    text-transform: none;
}

.main .east .panel .header img.slide-btn {
    background-image: url(images/tool-sprites.png);
    opacity: 0.5;
    background-color: #157fcc;
    background-position: 0 -176px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 136px;
}

.main .east .panel .header img.slide-btn:hover {
    opacity: 0.6;
}

.main .east .panel .content {
    height: calc(100% - 42px);
    background-color: white;
}

.main .east .splitter {
    float: left;
    width: 8PX;
    height: 100%;
}

.main .east .panel .tabs {
    height: 31px;
    border-top: 5px solid #ADD2ED;
    background-color: #157fcc;
}

.main .east .tabs .tab {
    cursor: pointer;
    background-color: #4b9cd7;
    color: white;
}

.main .east .tabs .tab:hover {
    background-color: #5FA7DB;
}

.main .east .tabs .tab.active {
    background-color: #ADD2ED;
    color: #157fcc;
}

.main .east .panel .tabs .tab.first {
    float: left;
    padding: 6px 12px 6px 12px;
    border-radius: 0px 0px 3px 3px;
    margin-right: 2px;
}

.main .east .panel .tabs .tab.first span.title {
    line-height: 16px;
}

.main .east .panel .tabs .tab.second {
    float: left;
    border-radius: 0px 0px 3px 3px;
    width: 122.797px;
    height: 30.5px;
}

.main .east .panel .tabs .tab.second span.title {
    position: relative;
    top: 6px;
    left: 12px;
    display: inline-block;
    line-height: 16px;
}

.main .east .panel .tabs .tab.second span.close {
    width: 12px;
    height: 12px;
    background-image: url(images/tab-default-close.png);

    display: block;
    margin: -17px 5px 3px 109px;
}

.main .east .panel .content .content-header {
    padding: 6px 0 6px 177px;
}

.main .east .panel .content .content-header button {
    width: 39.344px;
    height: 24px;
    cursor: pointer;
    color: #736c6c;
    font-family: helvetica, arial, verdana, sans-serif;
    background-color: #ECECEC;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
}

.main .east .panel .content .tabcontent {
    display: none;
}

.main .east .panel .content .tabcontent.table {}

/*south*/
.south {
    width: 100%;
    height: 45px;

    position: fixed;
    bottom: 0;
    left: 0;

    transition: transform .5s ease;
}

.south>.splitter {
    height: 8px;
}

.south .panel {
    background-color: #157fcc;
    height: 100%;
}

.south.open {
    transform: translate(0, -130%);
}

.panel .header {
    height: 100%;
}

.south .panel .header .title {
    position: relative;
    top: 9px;
    left: 10px;
    color: white;

}

.south img.slide-btn {
    background-image: url(images/tool-sprites.png);
    opacity: 0.5;
    background-color: #157fcc;
    background-position: 0 -224px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 10px;
}

.south.open img.slide-btn {
    background-position: 0 -208px;
}

.south .panel .header img.slide-btn:hover {
    opacity: 0.6;
}

.south .content {
    background-color: white;
    height: 300px;
}

.east-collapse {
    width: 45px;
    height: 99%;
    background-color: #157FCC;
    position: absolute;
    right: -100px;
    transition: all 0.1s;
}

.east-collapse.open {
    transform: translate(0, 0);
    right: 0;
}

.east-collapse .title {
    transform: rotate(90deg);
    color: white;
    margin-top: 50px;

    width: 100px;
    position: relative;
    top: 25px;
    right: 28px;
}

.east-collapse .slide-btn {
    background-image: url(images/tool-sprites.png);
    opacity: 0.5;
    background-color: #157fcc;
    background-position: 0 -192px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 14px;
}

.east-collapse .slide-btn:hover {
    opacity: 0.6;
}

.west-collapse {
    width: 45px;
    height: 99%;
    background-color: #157FCC;
    position: absolute;
    left: -100px;
    transition: all 0.1s;
}

.west-collapse.open {
    transform: translate(0, 0);
    left: 0;
}

.west-collapse .title {
    transform: rotate(90deg);
    color: white;
    margin-top: 50px;
}

.west-collapse .slide-btn {
    background-image: url(images/tool-sprites.png);
    opacity: 0.5;
    background-color: #157fcc;
    background-position: 0 -176px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 14px;
}

.west-collapse .slide-btn:hover {
    opacity: 0.6;
}

.south .split-slider {
    position: relative;
    width: 50px;
    height: 7px;
    background-image: url(./images/mini-top.png);
    margin: auto;
    top: -5px;
}

.west .split-slider {
    width: 50px;
    height: 7px;
    background-image: url(./images/mini-top.png);
    left: 179px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(270deg);
}

.east .split-slider {
    width: 50px;
    height: 7px;
    background-image: url(./images/mini-top.png);
    left: -29px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(90deg);
}

.center .tabs {
    position: relative;
    overflow: hidden;
}

.center .left-btn {
    background-image: url(./images/default-scroll-left.png);
    /* opacity: 0.5; */
    cursor: pointer;
    z-index: 1;
    position: absolute;
    height: 31px;
    width: 24px;
    background-color: blue;
}

.center .right-btn {
    background-image: url(./images/default-scroll-right.png);
    /* opacity: 0.5; */
    cursor: pointer;
    z-index: 1;
    right: 0;
    position: absolute;
    height: 31px;
    width: 24px;
    background-color: blue;
    /* background-color: 157fcc; */
}